<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="JustBetter_CustomerPricing::section"
            title="Customer Pricing"
            module="JustBetter_CustomerPricing"
            sortOrder="10"
            parent="JustBetter_Core::menu"
            resource="JustBetter_CustomerPricing::section"
        />
        <add 
            id="JustBetter_CustomerPricing::home"
            title="Prices"
            module="JustBetter_CustomerPricing"
            sortOrder="10"
            parent="JustBetter_CustomerPricing::section"
            resource="JustBetter_CustomerPricing::home"
            action="customerpricing/index/index" 
        />
    </menu>
</config>
